In [1]:
#list of high schools
high_schools = ["Hernadez High School", "Figuera High School", "Wilson High School", "Wright High School"]

In [2]:
for school in high_schools:
    print(school)

Hernadez High School
Figuera High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school
high_school_types = [{"High School": "Griffin", "Type":"District"}, 
                     {"High School": "Figueroa", "Type":"District"},
                     {"High School": "Wilson", "Type":"District"},
                     {"High School": "Wright", "Type":"District"}]

In [4]:
for types in high_school_types:
    print(types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'District'}
{'High School': 'Wright', 'Type': 'District'}

In [5]:
high_school_types = [{"High School": "Griffin", "Type":"District"}, 
                     {"High School": "Figueroa", "Type":"District"},
                     {"High School": "Wilson", "Type":"District"},
                     {"High School": "Wright", "Type":"District"}]

In [7]:
import pandas as pd

In [9]:
school_series = pd.Series(high_schools)
school_series

0    Hernadez High School
1     Figuera High School
2      Wilson High School
3      Wright High School
dtype: object

In [10]:
school_series [0]

'Hernadez High School'

In [13]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                      {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                      {"School ID": 2, "school_name": "Shelton High School", "type": "Charter"},
                      {"School ID": 3, "school_name": "Hernandez High School", "type": "District"},
                      {"School ID": 4, "school_name": "Griffin High School", "type": "Charter"}]

In [14]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [15]:
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", 
               "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [16]:
schools_df = pd.DataFrame()

In [19]:
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [21]:
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [23]:
high_schools_dict_df = pd.DataFrame(high_schools_dict)

In [24]:
high_schools_dict_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [25]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [26]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [27]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)